body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-top: 60px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    background-color: #aedaff;
  }

  .lead {
      padding: 10px 0 10px 0;
  }
  
.one-hour {
    display: flex;
    justify-content: center;
    align-items: center;
}

.time{
    font-size: 20px;
    margin: 10px;
    background-color: #d2d0d0;
    text-align: center;
    padding-top: 40px;
    height: 100px;
    width: 10%;
    border-radius: 20px 0px 0px 20px;
}
.user-input {
    padding: 20px;
    height: 100px;
    width: 60%;
    border: 1px;
    color:#2d2d2d;
    background-color: #f1f1f1;;
}

.save-button{
    height: 100px;
    margin: 10px;
    width: 10%;
    border: 1px;
    background-color: #d2d0d0;
    border-radius: 0px 20px 20px 0px;
}
.save-button:hover {
    background-color: #e1e1e1;
}

.past-time,
.past-save-button  {
    background-color: #fd8a8a;
}

.past-input {
    background-color: #ffd0d0;
}

.past-save-button:hover {
    background-color: #ffb4b4;
}
  
.present-time,
.present-save-button {
    background-color: #83b9e6;
}
  
.present-input {
    background-color: #dcefff;
}

.present-save-button:hover {
    background-color: #b1d8f9;
}